
&trackball_central_listener {
    status = "okay";
    device = <&trackball_central>;
    layers = <1>;
    input-processors = <&zip_ble_report_rate_limit>;
};

&trackball_peripheral_split_listener {
    status = "okay";
    device = <&trackball_peripheral>;  /* if your split device is &trackball_peripheral_split, use that */
    layers = <1>;
    input-processors = <&zip_ble_report_rate_limit>;
    };
};
